<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AGNES.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AGNES.My.MySettings.AGNESConnectionString" connectionString="Data Source=CompassPowerBI;Initial Catalog=AGNES;Persist Security Info=True;User ID=AGNESapplication;Password=Fluoxetine3!"
            providerName="System.Data.SqlClient" />
        <add name="AGNES.My.MySettings.BIConnectionString" connectionString="Data Source=CompassPowerBI;Initial Catalog=BI;Persist Security Info=True;User ID=AGNESapplication;Password=Fluoxetine3!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AGNES.My.MySettings>
            <setting name="MuteAgnes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastMedia" serializeAs="String">
                <value>None</value>
            </setting>
        </AGNES.My.MySettings>
    </userSettings>
</configuration>